body{
    text-align: center;
}
h1{
    font-family: 'Cinzel', serif;  
}
h6,p{
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: large;
}
h2{
    text-align: center;
    font-family: 'Saira', sans-serif;
}
.landing{
    position:absolute;
    text-align: center;
    margin-left: 23%;
    padding-right: 30%;
}


#home{
    color: white;
    width: 100%;
    height: 500px;
    background-image:url(../images/background/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10%;
}
#services{
    color: white;
    width: 100%;
    background-image: url(../images/background/s_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 5%;


}
#contacts{
    color: white;
    width: 100%;
    background-image: url(../images/background/c_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10%;
}
#about{
    padding: 7%;
    padding-left: 19%;
}
#what-we-do{
    text-align: center;
    
}
.we-do{
    display: flex;
    flex-direction:row;
    padding-left: 0%;
    
    
}
.do{
    text-align: center;
}
input{
   
    text-decoration: none;
    border: 1px solid white;
    background-color: transparent;
    padding-left: 100px;
    margin-left: 10%;
    color: white;
    
    
    }
    .textarea,textarea {
        background-color: transparent;
        width: 800px;
        padding: 5%;
    }
    .social-icon{
        padding-left: 20%;
        padding-top: 5%;
        }
        
        .foot{
            padding: 10%;
        }
        .img1{
            position: relative;
        }
        .para1, .para2, .para3{
           display: none;
           /*position: absolute;
        }*/
         
        
        }
        /*#what-we-do{
        
            column-gap: 20%;
            
        }
        .social-icon:hover{
            color:2px lime;
        }*/